.section_two  {
  /* background-color: var(--primary-dark); */
  background-color: rgb(255, 251, 244);
}
.section_two h1 {
  /* color: var(--primary-lighter); */

color: rgb(69, 69, 69);
}
.section_two h2 {
  /* color: var(--primary-light); */
  /* color: rgb(64, 28, 98); */
}


.section_two .scroll_naar_beneden {
  /* color: var(--primary-light); */
}

.section_two button {
  background-color: var(--primary-dark);
  columns: white;
}

.section_two button:hover {
  background-color: var(--primary-dark-hover);
}