.desktop_menu_items {
  display: block;
}

.hamburger-btn,
.side_menu_from_hamburger,
.overlay_with_side_menu,
.category_menu_btn
 {
  display: none;
}

 @media (min-width: 600px) {
   .category_menu_btn {
    display: block;
    position: relative;
    margin-left: 20px;
    top: 0px;
 }
}

@media (max-width: 1120px) {
 .side_menu_from_hamburger {
  display: block;
 }

 .overlay_with_side_menu {
  display: block;
 }
 
  .desktop_menu_items {
    display: none;
  }
 
  .hamburger-btn {
     display: flex;
  }
}
